{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block main %}
<!--  -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Change your password</h2>
            <p>You are about to make changes to your accout password </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    {% if form.errors %}

    <div class="container">
        <!-- {% for error in form.errors %} -->
        <div class="alert">


            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{form.errors}}


        </div>
        <!-- {% endfor %} -->
    </div>
    {% endif %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="row mt-5">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <form action="{% url 'password_change' %}" method="post" role="form" enctype="multipart/form-data" class="php-email-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 form-group m-2">
                                {{form|crispy}}
                            </div>

                        </div>

                        <div class="text-center"><button type="submit">Update changes</button></div>

                        <!-- <div class="text-center m-3"><a href="{% url 'password_reset' %}">Forgot password?</a></div> -->
                    </form>

                </div>
                <div class="col-lg-4">

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->

{% endblock main %}