{% extends 'base.html' %} {% block main %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2 class="font-weight-bold mt-3">Password reset done</h2>

        </div>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <!-- <hr> -->
                <p>We've sucessfully updated your password. Just click the login button now to login to your account.</p>
                <div class="text-center">
                    <a href="{% url 'login' %}" class="btn btn-light" data-mdb-ripple-color="blue">Log in?</a>
                    <!-- <button type="submit" class="btn">Submit</button> -->
                    <!-- <div class="text-center m-3"><button href="{% url 'login' %}">Sign in</button></div> -->
                </div>
                <!-- <div class="text-center"><button type="button" href="{% url 'password_reset' %}">Resend</button></div> -->
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>

{% endblock %}